# IDEs
.project
.pydevproject
.idea
.vscode
.settings

# Random files
*~
\#*

virtualenv/
venv/
env/
# django/static_dist/
# django/static_root/
staticfiles/


# Python compiled byte code
*.pyc

# static validation files
.eslintrc
.sass-lint.yml
.prospector.yml
